.activity {
  min-height: 100vh;
  background: #efefef;
}
.activity .header {
  background: black;
}
.recent-activity-body {
  text-transform: uppercase;
  padding: 20px;
}
.recent-activity-body .distance {
  min-height: 18px;
}
.recent-activity-body h2 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
.recent-activity-body .calories {
  float: right;
  font-weight: bold;
}
.recent-activity-body .empty-workouts {
  text-align: center;
}
.remove-activity {
  float: right;
}
