/* Make small lists swipable */
.class-tile-list {
  height: 100vh;
}

.class-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-tile .card-cta {
  margin-left: 15px;
}

.class-tile .label {
  font-size: 13px;
}
