.login-page {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.login-page .header {
  border-bottom: #a7a7a7 solid 1px;
}

.login-page label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.login-page h1 {
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 2px;
}

.login-page .login-form {
  padding: 0 10px;
}

.login-page input {
  background: transparent;
  text-align: center;
}

.login-page ::-webkit-input-placeholder {
   text-align: center;
}

.login-page :-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

.login-page ::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

.login-page :-ms-input-placeholder {
   text-align: center;
}
